[submodule "mjtest"]
	path = mjtest
	url = https://github.com/mj3-16/mjtest
	branch = master
[submodule "jFirm"]
	path = jFirm
	url = http://pp.info.uni-karlsruhe.de/git/jFirm.git
[submodule "libfirm"]
	path = libfirm
	url = http://pp.info.uni-karlsruhe.de/git/libfirm.git
