[submodule "mjtest"]
	path = mjtest
	url = https://github.com/mj3-16/mjtest
	branch = master
[submodule "jFirm"]
	path = jFirm
	url = https://github.com/mj3-16/jFirm.git
[submodule "libfirm"]
	path = libfirm
	url = https://github.com/mj3-16/libfirm.git
